.savedCard {
  padding: 15px !important;
  position: relative;
  border: 1px dashed #a6adb4 !important;
  width: 100%;
  margin-bottom: 15px;
}

.theme-dark .savedCard {
  border: 1px dashed #727b88 !important;
}

.savedCard .MuiButton-label {
  text-align: left;
  text-transform: initial;
  font-family: var(--FuturaStdMedium);
  align-items: flex-start;
  justify-content: space-between;
}

.savedCard h3 {
  font-size: 16px;
  color: #444d63;
  margin: 0 0 15px;
  width: 100%;
}

.theme-dark .savedCard h3 {
  color: #b4bbcc;
}

.savedCard h4 {
  font-size: 16px;
  color: #788094;
  margin: 0 0 10px;
  width: 100%;
}

.savedCard h4:last-child {
  margin-bottom: 0;
}

.savedCard .selectIcon {
  color: #dbd9e2;
  margin-right: 10px;
}

.theme-dark .savedCard .selectIcon {
  color: #b4bbcc;
}

.savedCard .selectIcon.checked {
  color: #06b473;
}

.savedCard .removeSS {
  min-width: max-content;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #b9b9b9;
  margin-top: -10px;
  margin-right: -10px;
}


.theme-dark .savedCard .removeSS {
  color: #4e5765;
}
